/* Initial resets */
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  height: 300px;
  display: flex;
}

/* Calculator */
.calculator {
  width: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
